---
title: "Not Found Page"
description: Sorry, the page you are looking for could not be found.
layout: layouts/base.njk
---

<div class="container  mx-auto h-[34rem]" >
  <h1 class="text-4xl mt-32 items-center text-center">Error 404:<span>Page Not</span> Found</h1>
  <p class="text-xl text-center">Sorry, the page you are looking for could not be found.</p>
  <div class="flex my-3 justify-center">
    <a href="/" class="bg-blue-500 text-center text-black p-4">Return Home</a>
  </div>
</div>