---
layout: layouts/base.njk
title: Tags

---
<section class="section">
  <div class="container">
    <h1 class="title">Tags </h1>
    <div class="tags are-large">
      {% for page in search.pages("type=tag", "tag") %}

        <a href="{{ page.data.url.trim().toLowerCase().split(' ').join("-") }}" class="tag is-link">{{ page.data.tag }}</a>

      {% endfor %}
    </div>
  </div>
</section>