---
layout: layouts/base.njk
title: Tags

---

  <div class="container mx-auto">
    <h1 class="text-2xl text-center my-4">Tags: </h1>
    <div class="flex flex-wrap my-3">
      
      {% for page in search.pages("type=tag", "tag") %}

        <a href="{{ page.data.url.trim().toLowerCase().split(' ').join("-") }}" class="bg-blue-500 text-black p-2  m-2">{{ page.data.tag }}</a>

      {% endfor %}

    </div>
  </div>
